@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.habits {
  background-color: $secondary-color;
  border-radius: 25px;
  padding: 1rem;

  &__banner {
    @include flex(flex, row, space-around, center);
  }

  &__title {
    font-size: 2.1875rem;
    margin: 0;
    margin-left: 3.125rem;
    font-family: "Sour-Gummy";
    color: white;
  }

  &__btn {
    justify-self: flex-end;
    padding: 0.3125rem 0.9375rem;
    background-color: $primary-color;
    font-family: "Sour-Gummy";
  }

  &__container {
    background-color: $tertiary-color;
    border-radius: 0.625rem;
    padding: 1.25rem 1.875rem;
  }
}
