@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.habits {
  background-color: $secondary-color;
  border-radius: 25px;
  padding: 1rem;

  &__banner {
    @include flex(flex, column, center, center);
  }

  &__title {
    font-size: 35px;
    margin: 0;
    font-family: "Sour-Gummy";
    color: white;
  }

  &__btn {
    justify-self: center;
    padding: 0.3125rem 2.8125rem;
    background-color: $primary-color;
    font-family: "Sour-Gummy";
    font-size: 1.25rem;
    margin: 0.625rem;
  }

  &__container {
    background-color: $tertiary-color;
    border-radius: 0.625rem;
    padding: 1.25rem 1.875rem;
  }
}
