@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.indvHabit {
  background-color: $fifth-color;
  border-radius: 25px;
  padding: 1rem;
  @include flex(flex, column, normal, normal);

  &__banner {
    @include flex(flex, row, space-between, center);
    margin-bottom: 0.625rem;
  }

  &__icon {
    height: 1.875rem;
  }

  &__title {
    color: white;
    font-family: "Sour-Gummy";
    margin: 0;
    font-size: 1.375rem;
  }

  &__subtitle {
    color: white;
    font-family: "Sour-Gummy";
    margin: 1.875rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
  }

  &__date {
    color: white;
    font-family: "Sour-Gummy";
    text-align: center;
    font-size: 0.9375rem;
    margin-top: 0.3125rem;
  }
}
