@font-face {
  font-family: "Sour-Gummy";
  src: url(../../assets/fonts/SourGummy.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "M-PLUS-Rounded";
  src: url(../../assets/fonts/MPLUSRounded.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
