@font-face {
  font-family: "Sour-Gummy";
  src: url(../../assets/fonts/SourGummy.ttf) format(ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "M-PLUS-Rounded";
  src: url(../../assets/fonts/MPLUSRounded-Light.ttf) format(ttf);
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "M-PLUS-Rounded", sans-serif;
  font-family: 1rem;
}
