@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.habit-details {
  background-color: $quatenary-color;
  border-radius: 0.625rem;
  padding: 0.625rem 1.875rem;

  &__subtitle {
    margin: 0;
    font-size: 1rem;
    font-family: "Sour-Gummy";
  }

  &__text {
    margin-top: 0;
    font-size: 0.875rem;
  }
}
