@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include flex(flex, column, space-between, normal);
  &__title {
    font-family: "Sour-Gummy";
    font-size: 3.75rem;
    margin: 0;
    flex-grow: 1;
    color: white;
  }

  &__nav {
    @include flex(flex, row, space-around, center);
    margin-bottom: 0.9375rem;
    border-bottom: 2px solid $secondary-color;
  }

  &__nav-link {
    font-size: 1.5rem;
    font-family: "Sour-Gummy";
    color: white;
    margin: 0 0 0.9375rem 0;
    padding: 0.3125rem 0.9375rem;
    border-radius: 1.875rem;
    &:hover {
      color: white;
      background-color: $secondary-color;
    }
    &:active {
      background-color: $secondary-color;
    }
  }
}

.header__nav-link {
  text-decoration: none;
  color: white;

  &.active {
    background-color: $secondary-color;
    font-weight: bold;
  }
}
